.desktop-menu-container {
    display: none;

    @media (min-width: 1024px) {
        display: flex;
        gap: 32px;
        align-items: center;
    }

    a {
        text-decoration: none;
        font-size: 0.875rem;
        font-weight: 500;
        color: var(--text-2);
        transition: color var(--t-base);
        &:hover { color: var(--text-1); }
    }
}

